@tailwind base;
@tailwind components;
@tailwind utilities;

.span-fade {
    transition: color 2.5s ease;
}

.scroller {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroller__inner {
  display: flex;
  width: max-content;
}